@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  //jumbotron   ------------------------------------------------------------------------
  .jumbotron {
    img {
      visibility: hidden;
    }
  }
  // pagination  ------------------------------------------------------------------------
  .pagination {
    .A {
      padding: 0;
    }
  }

  .col-xs-12 {
    padding: 3%;
  }

  .col-md-6 {
    padding: 3%;
  }
  // map   ------------------------------------------------------------------------
  .brussels {
    h2 {
      margin-top: 10px;
      padding-top: 0;
      margin-left: 30px;
    }

    ul {
      padding-bottom: 0;
      margin-bottom: 0;
      margin-left: 30px;
    }

    iframe {
      width: 250px;
      height: 250px;
    }
  }
  // form   ------------------------------------------------------------------------
  .form {
    button {
      padding-left: 15px;
      padding-right: 29px;

      i {
        align-items: center;
      }
    }
  }

  .form {
    width: 110%;
    margin-left: -15px;
  }
  // menu ------------------------------------------------------------------------
  .list {
    width: 110%;
    margin-left: -15px;
  }
// footer ------------------------------------------------------------------------
  .container-fluid {
    .col-md-4 {
      .logo-part {
    img {
      width: 5px;
    }
  }
  }
  }
}
