$maincolor: #DDB1A4;
$accentcolor: #423531;
$font:'Rajdhani', sans-serif;


body {
  font-family: $font;
  background-image: url("../img/debut_light.png");
}

// navbar---------------------------------------------------------------------------------------------------
nav {

  font-size: 18px;

  img {
    width: 25px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4px;
  }

  .navbar-brand {
  font-weight: bold;
  font-size: 19px;
  margin-right: 50px;
}

  input {
  width: 125px;
  height: 25px;
  outline-color: $accentcolor;
  outline-width: thin;
  color: $accentcolor;
  border-radius: 0.25em;
  border:$accentcolor;
  background-image: url("../img/debut_light.png");
  text-align: center;
  font-size: 12px;
}

  .navbar-toggler-icon {
  outline-color: $accentcolor;
}
}
// close navbar---------------------------------------------------------------------------------------------

  #container {
  width: 80%;
  margin: auto;
// jumbotron ----------------------------------------------------------------------------------------------
  .jumbotron {
    background-color: #F7F7F7;
    border: solid 1px $accentcolor;
    width: 95%;
    margin:auto;
    margin-top: 20px;
}
// close jumbotron -----------------------------------------------------------------------------------------
// form ----------------------------------------------------------------------------------------------------
form {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  color: $accentcolor;

  input {
  color: $accentcolor;
  }

  textarea {
  color: $accentcolor;
  }

  button {
  background-color: $maincolor;
  border: none;
  color: $accentcolor;
  width: 8%;
    &:hover {
    color:white;
    box-shadow: 5px 10px 10px 0 rgba(0,0,0,0.24);
    }
  }
}
// Close form ----------------------------------------------------------------------------------------------

}//close container
