body {
  font-family: "Rajdhani", sans-serif;
  background-image: url("../img/debut_light.png");
  overflow-x: hidden;
  color: #423531; }

nav {
  font-size: 18px; }
  nav img {
    width: 25px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4px; }
  nav .navbar-brand {
    font-weight: bold;
    font-size: 19px;
    margin-right: 50px; }
  nav input {
    width: 125px;
    height: 25px;
    outline-color: #423531;
    outline-width: thin;
    color: #423531;
    border-radius: 0.25em;
    border: #423531;
    background-image: url("../img/debut_light.png");
    text-align: center;
    font-size: 12px; }
  nav .navbar-toggler-icon {
    outline-color: #423531; }

#container {
  width: 80%;
  margin: auto; }
  #container .jumbotron {
    background-color: #F7F7F7;
    border: solid 1px #423531;
    width: 95%;
    margin: 40px auto auto;
    height: 325px;
    padding-bottom: 0;
    padding-top: 5px; }
    #container .jumbotron img {
      opacity: 0.8; }
  #container .card-deck {
    width: 98%;
    margin: 40px auto auto; }
    #container .card-deck .card {
      background-color: #F7F7F7;
      border: solid 1px #423531;
      color: #423531; }
      #container .card-deck .card img {
        padding: 0;
        opacity: 0.8;
        border-radius: 0; }
      #container .card-deck .card h5 {
        font-weight: 600; }
      #container .card-deck .card a {
        text-decoration: underline;
        color: #DDB1A4; }
  #container .form h1 {
    text-align: center;
    margin-top: 40px;
    color: #423531; }
  #container form {
    width: 70%;
    margin: 30px auto auto;
    color: #423531; }
    #container form input {
      color: #423531; }
    #container form .form-control:focus {
      outline: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #423531; }
    #container form button {
      background-color: #DDB1A4;
      border: none;
      color: #423531;
      width: 8%; }
      #container form button:hover {
        color: #f5f5f5;
        -webkit-box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.24);
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
  #container .pagination a {
    text-decoration: none;
    color: #423531;
    padding: 8px 16px;
    border: none;
    background-image: url("../img/debut_light.png");
    border-radius: 5px;
    margin: 2px; }
    #container .pagination a:hover {
      color: #DDB1A4;
      -webkit-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    #container .pagination a:active {
      border: solid #DDB1A4 1px; }
    #container .pagination a:focus {
      outline: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #DDB1A4; }
  #container .pagination .active {
    color: #DDB1A4;
    border: solid 1px #DDB1A4; }
  #container img {
    width: 100%;
    opacity: 0.8;
    border-radius: 1%;
    margin: auto;
    display: block; }
  #container .A {
    padding-top: 3%;
    padding-bottom: 3%; }
  #container .photos {
    margin-top: 40px; }
  #container .list h1 {
    text-align: center;
    padding: 2%;
    margin-bottom: 0;
    color: #423531; }
  #container .list img {
    margin-top: 40px;
    width: 50px;
    padding-top: 0; }
  #container .list .list-group {
    width: 60%;
    margin: auto auto 30px;
    padding: none; }
    #container .list .list-group .list-group-item {
      background-image: url("../img/debut_light.png"); }
    #container .list .list-group h6 {
      font-weight: 600;
      margin-bottom: 0;
      color: #423531; }
    #container .list .list-group p {
      font-weight: lighter;
      margin-bottom: 0;
      font-size: 11px;
      color: #423531; }

.map iframe {
  margin-top: 40px;
  opacity: 0.7;
  display: block;
  margin: auto;
  padding-top: 40px; }
  .map iframe:hover {
    opacity: 1; }

.map h2 {
  padding-top: 40px;
  margin-top: 17%;
  margin-left: 75px;
  padding-bottom: 1%; }

.map ul {
  list-style: none;
  padding-left: 0;
  margin-left: 75px; }
  .map ul i {
    padding-right: 5%; }
  .map ul .text {
    visibility: hidden;
    padding-top: 0; }
  .map ul .space {
    padding-bottom: 2%; }
  .map ul i.space {
    padding-right: 6%; }

.map .brussels {
  border: solid 1px #423531;
  background-color: #F7F7F7;
  width: 87%;
  margin: auto;
  border-radius: 5px;
  padding-bottom: 40px;
  margin-top: 40px; }

.container-fluid {
  margin-top: 40px;
  background-color: #DDB1A4;
  color: #423531; }
  .container-fluid .row {
    margin: auto; }
  .container-fluid .col-md-4 {
    margin-top: 10px;
    text-align: center; }
    .container-fluid .col-md-4 img {
      width: 40px; }
    .container-fluid .col-md-4 h2 {
      font-weight: bold; }
    .container-fluid .col-md-4 h6 {
      font-weight: 600;
      margin-bottom: 5%; }
    .container-fluid .col-md-4 a {
      padding: 4%;
      text-decoration: none;
      color: #423531; }
    .container-fluid .col-md-4 a:hover {
      color: #f5f5f5;
      -webkit-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }
  .jumbotron img {
    visibility: hidden; }
  .pagination .A {
    padding: 0; }
  .col-xs-12 {
    padding: 3%; }
  .col-md-6 {
    padding: 3%; }
  .brussels h2 {
    margin-top: 10px;
    padding-top: 0;
    margin-left: 30px; }
  .brussels ul {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 30px; }
  .brussels iframe {
    width: 250px;
    height: 250px; }
  .form button {
    padding-left: 15px;
    padding-right: 29px; }
    .form button i {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .form {
    width: 110%;
    margin-left: -15px; }
  .list {
    width: 110%;
    margin-left: -15px; }
  .container-fluid .col-md-4 .logo-part img {
    width: 30px; } }
