body {
  font-family: "Rajdhani", sans-serif;
  background-image: url("../img/debut_light.png");
  overflow-x: hidden; }

nav {
  font-size: 18px; }
  nav img {
    width: 25px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4px; }
  nav .navbar-brand {
    font-weight: bold;
    font-size: 19px;
    margin-right: 50px; }
  nav input {
    width: 125px;
    height: 25px;
    outline-color: #423531;
    outline-width: thin;
    color: #423531;
    border-radius: 0.25em;
    border: #423531;
    background-image: url("../img/debut_light.png");
    text-align: center;
    font-size: 12px; }
  nav .navbar-toggler-icon {
    outline-color: #423531; }

#container {
  width: 80%;
  margin: auto; }
  #container .jumbotron {
    background-color: #F7F7F7;
    border: solid 1px #423531;
    width: 95%;
    margin: auto;
    margin-top: 40px; }
  #container .card-deck {
    width: 98%;
    margin: auto;
    margin-top: 40px; }
    #container .card-deck .card {
      background-color: #F7F7F7;
      border: solid 1px #423531;
      color: #423531; }
      #container .card-deck .card img {
        padding: 0px;
        opacity: 0.8;
        border-radius: 0px;
        height: 50%; }
      #container .card-deck .card h5 {
        font-weight: 600; }
      #container .card-deck .card a {
        text-decoration: underline;
        color: #DDB1A4; }
  #container .form h1 {
    text-align: center;
    margin-top: 40px;
    color: #423531; }
  #container form {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    color: #423531; }
    #container form input {
      color: #423531; }
    #container form .form-control:focus {
      outline: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #423531; }
    #container form button {
      background-color: #DDB1A4;
      border: none;
      color: #423531;
      width: 8%; }
      #container form button:hover {
        color: #f5f5f5;
        -webkit-box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.24); }
  #container .pagination a {
    text-decoration: none;
    color: #423531;
    padding: 8px 16px;
    border: none;
    background-image: url("../img/debut_light.png");
    border-radius: 5px; }
  #container img {
    width: 100%;
    padding: 2%;
    opacity: 0.8;
    border-radius: 1%;
    margin: auto;
    display: block; }
  #container .photos {
    margin-top: 40px; }
  #container .list h1 {
    text-align: center;
    padding: 2%;
    margin-bottom: 0px;
    color: #423531; }
  #container .list img {
    margin-top: 40px;
    width: 70px;
    padding-top: 0px; }
  #container .list .list-group {
    margin-top: 40px;
    width: 60%;
    margin: auto;
    padding: none; }
    #container .list .list-group .list-group-item {
      background-image: url("../img/debut_light.png"); }
    #container .list .list-group h6 {
      font-weight: 600;
      margin-bottom: 0px;
      color: #423531; }
    #container .list .list-group p {
      font-weight: lighter;
      margin-bottom: 0px;
      font-size: 11px;
      color: #423531; }

.container-fluid {
  margin-top: 40px;
  background-color: #DDB1A4;
  color: #423531; }
  .container-fluid .col-md-4 {
    margin-top: 10px;
    text-align: center; }
    .container-fluid .col-md-4 h2 {
      font-weight: bold; }
    .container-fluid .col-md-4 h6 {
      font-weight: 600;
      margin-bottom: 5%; }
    .container-fluid .col-md-4 a {
      padding: 4%;
      text-decoration: none;
      color: #423531; }
    .container-fluid .col-md-4 a:hover {
      color: #f5f5f5; }
    .container-fluid .col-md-4 img {
      opacity: 0.8; }
